html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #101010;
    color: white;
    padding: 1rem;
    font-family: "Noto Sans", serif;
    padding-bottom: 25vh;
}

#pricing {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.element {
    background: #1f1f1f;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.5rem;
}

.element h1 {
    margin: 0;
    font-size: 1.5rem;
}

.element p {
    margin: 0;
    opacity: 0.5;
    font-size: 1rem;
}

canvas.elementImage {
    height: 190px;
    overflow: hidden;
    border-radius: 0.5rem;
    image-rendering: pixelated;
}
.element .buybtn {
    background-color: #141414;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
}

div#holdings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.userdbtable {
    background: #1f1f1f;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
}

tbody {
    background-color: #2f2f2f;
    border-radius: 0.5rem;
    color: white;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

 caption {
    font-size: 1.5rem;
}

 caption small {
    font-size: 1rem;
    opacity: 0.5;
}

th,
td {
    padding: 0.5rem;
}

th {
    background-color: #3a3a3a;
}

td {
    background-color: #404040;
}

.twosided {
    display: flex
;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.sideone {
    flex: 1;
    padding-right: 1rem;
    border-right: 1px solid grey;
}


button.buybtnori {
    float: right;
    padding: 0.5rem 1rem;
    background: radial-gradient(circle at 0% 0%, #ff26da6b, #5884ff61);
    color: white;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: -2px -3px 0.5rem #4e47ff, 2px 3px 0.5rem #ff47b2;
    border: 0;
}